<div class="grid-sizer"></div>
<div class="grid-item">
  <div class="card hoverable">
    {%
      include figure.liquid
      loading="eager"
      path=image.url
      sizes="250px"
    %}
  </div>
</div>
